body {
    background-image: url("background.jpg");
    background-size: 150%;
}
.User {
    text-align: left;
    width: 750px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.User .buttonLogin {
    display: block;
    text-align: center;
    margin: 5px auto;
    padding: 5px 30px;
    border-color: rgba(50, 44, 44, 0.759);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 4px rgba(50, 44, 44, 0.759);

}

.User .loginText {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.loginTest {
    margin: 0;
    display: flex;
    min-height: 90vh;
    align-items: flex-end;
    justify-content: flex-start;
}

.radioOptions{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}

.checks {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}

.location {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}

.User h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(50, 44, 44, 0.759);
    letter-spacing: 1px;
    margin: 25px;
    text-align: center;
}

.PgSec {
    color: white;
    text-shadow: 2px 2px 4px rgba(50, 44, 44, 0.759);
    letter-spacing: 1px;
    margin: 40px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.info-cont {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    color: black;
    width: fit-content;
    margin: 10px auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 15px;
    box-shadow: 2px 2px 4px rgba(50, 44, 44, 0.759);
}

